@tailwind preflight;
@tailwind components;
@tailwind utilities;

body, html, #fullheight  {
    height: 100%;
    margin: 0;
    background-color: rgb(2, 1, 63);
  }
.container {
  background-color: rgb(43, 95, 226);
}