@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(2, 1, 63);
}

.container {
  background-color: rgb(43, 95, 226);
}

@media print {
    .hiddenAtPrint {
      display: none;
    }

    .paperToPrint {
      background-color: white;
      border-radius: 0
    }
}